body {
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 0.9rem;
  margin: 0;
}

.brand a {
  font-family: 'Teko';
  font-size: 1.5rem;
  color: #bababa;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.links {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.links * {
  margin: auto 10px;
  /* font-size:  */
}

.links a:last-child button {
  margin-right: 0;
}

a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #c2c3c9;
}

.homeImage {
  flex-basis: 30%;
}
.homeImage img {
  width: 100%;
}

.title {
  font-family: 'Teko';
  font-size: 3rem;
  color: #daf605;
  line-height: 3rem;
}

.content p {
  max-width: 400px;
  font-size: 1.3rem;
  margin: 0;
}

.content > div {
  padding: 2.2rem;
}

.button {
  color: black;
  font-family: 'Montserrat';
  background: #daf605;
  border: 1px solid white;
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}

.description * {
  margin: 10px auto;
}

.focusBtn {
  display: block;
  margin-top: 5px;
}

.content {
  margin: 0;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-image: url('/src/assets/topography.svg');
}

/*
================
Login/Register
================
*/

.login,
.register {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
}

.login .brand,
.register .brand {
  padding: 10px;
  margin-top: 3px;
}

.firstHalf {
  background-image: url('/src/assets/topography.svg');
  background-position: 800px 1000px;
  flex-basis: 55%;
}

.register .firstHalf {
  flex-basis: 30%;
}

.otherHalf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 45%;
  background: #0a0a0a;
}
.register .otherHalf {
  flex-basis: 70%;
}

.otherHalf h1 {
  font-size: 3rem;
}

form * {
  display: block;
}

label {
  color: #9a9a9a;
  margin-bottom: 9px;
  font-size: 1.2rem;
}

form a {
  margin-bottom: 9px;
}

.inputGroup * {
  display: block;
}
.inputGroup {
  margin: 2rem auto;
}

input[type='text'],
input[type='password'],
input[type='email'],
select, option {
  width: 23rem;
  height: 2.5rem;
  background-color: transparent;
  border: 2px solid #5d5d5d;
  border-radius: 5px;
  font-size: 1.1rem;
  padding-left: 10px;
  color: #d9d9d9;
  box-sizing: content-box;
}

input:focus, select {
  border: 2px solid #888888;
  outline: none;
}
